package client

type RancherClient struct {
	Opts    *ClientOpts
	Schemas *Schemas
	Types   map[string]Schema

	{{range .schemas}}
    {{.Id}} *{{.Id}}Client
    {{end}}
	
}

func constructClient() *RancherClient {
	client := &RancherClient{
		Types: map[string]Schema{},
	}

    {{range .schemas}}
     client.{{.Id}} = new{{.Id}}Client(client)
    {{end}} 
	

	return client
}
